######################
# IDE
######################
.idea/
.vscode/

######################
# Mac OSX
######################
.DS_Store


######################
# Directories
######################
######################
# Logs
######################
/logs/



######################
# Application Temp Files
######################
*.pid